In [66]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

# creating dataframes
airlines = spark.read.format("csv").option("header", "true").load("airlines.csv")
airports = spark.read.format("csv").option("header", "true").load("airports.csv")
flights = spark.read.format("csv").option("header", "true").load("flights.csv")

# displaying and counting airlines dataset elements
airlines.show()
airlines.count()

# displaying and counting airports dataset elements
airports.show()
airports.count()

# displaying and counting flights dataset elements
flights.show()
flights.count()

# calculating the column count
len(flights.columns), flights.columns

flights_df = flights.drop('CANCELLATION_REASON',
                          'AIR_SYSTEM_DELAY',
                          'SECURITY_DELAY',
                          'AIRLINE_DELAY',
                          'LATE_AIRCRAFT_DELAY',
                          'WEATHER_DELAY')

# displaying the flights dataset after removing null values

+---------+--------------------+
|IATA_CODE|             AIRLINE|
+---------+--------------------+
|       UA|United Air Lines ...|
|       AA|American Airlines...|
|       US|     US Airways Inc.|
|       F9|Frontier Airlines...|
|       B6|     JetBlue Airways|
|       OO|Skywest Airlines ...|
|       AS|Alaska Airlines Inc.|
|       NK|    Spirit Air Lines|
|       WN|Southwest Airline...|
|       DL|Delta Air Lines Inc.|
|       EV|Atlantic Southeas...|
|       HA|Hawaiian Airlines...|
|       MQ|American Eagle Ai...|
|       VX|      Virgin America|
+---------+--------------------+

+---------+--------------------+-------------+-----+-------+--------+----------+
|IATA_CODE|             AIRPORT|         CITY|STATE|COUNTRY|LATITUDE| LONGITUDE|
+---------+--------------------+-------------+-----+-------+--------+----------+
|      ABE|Lehigh Valley Int...|    Allentown|   PA|    USA|40.65236| -75.44040|
|      ABI|Abilene Regional ...|      Abilene|   TX|    USA|32.41132| -99.68190|
|      ABQ|Albuquerque Inter...|  Albuquerque|   NM|    USA|35.04022|-106.60919|
|      ABR|Aberdeen Regional...|     Aberdeen|   SD|    USA|45.44906| -98.42183|
|      ABY|Southwest Georgia...|       Albany|   GA|    USA|31.53552| -84.19447|
|      ACK|Nantucket Memoria...|    Nantucket|   MA|    USA|41.25305| -70.06018|
|      ACT|Waco Regional Air...|         Waco|   TX|    USA|31.61129| -97.23052|
|      ACV|      Arcata Airport|Arcata/Eureka|   CA|    USA|40.97812|-124.10862|
|      ACY|Atlantic City Int...|Atlantic City|   NJ|    USA|39.45758| -74.57717|
|      ADK|        Adak Airport|         Adak|   AK|    USA|51.87796|-176.64603|
|      ADQ|      Kodiak Airport|       Kodiak|   AK|    USA|57.74997|-152.49386|
|      AEX|Alexandria Intern...|   Alexandria|   LA|    USA|31.32737| -92.54856|
|      AGS|Augusta Regional ...|      Augusta|   GA|    USA|33.36996| -81.96450|
|      AKN| King Salmon Airport|  King Salmon|   AK|    USA|58.67680|-156.64922|
|      ALB|Albany Internatio...|       Albany|   NY|    USA|42.74812| -73.80298|
|      ALO|Waterloo Regional...|     Waterloo|   IA|    USA|42.55708| -92.40034|
|      AMA|Rick Husband Amar...|     Amarillo|   TX|    USA|35.21937|-101.70593|
|      ANC|Ted Stevens Ancho...|    Anchorage|   AK|    USA|61.17432|-149.99619|
|      APN|Alpena County Reg...|       Alpena|   MI|    USA|45.07807| -83.56029|
|      ASE|Aspen-Pitkin Coun...|        Aspen|   CO|    USA|39.22316|-106.86885|
+---------+--------------------+-------------+-----+-------+--------+----------+
only showing top 20 rows

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|2015|    1|  1|          4|     AS|           98|     N407AS|           ANC|                SEA|               0005|          2354|            -11|      21|      0015|           205|         194|     169|    1448|     0404|      4|             0430|        0408|          -22|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         2336|     N3KUAA|           LAX|                PBI|               0010|          0002|             -8|      12|      0014|           280|         279|     263|    2330|     0737|      4|             0750|        0741|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     US|          840|     N171US|           SFO|                CLT|               0020|          0018|             -2|      16|      0034|           286|         293|     266|    2296|     0800|     11|             0806|        0811|            5|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|          258|     N3HYAA|           LAX|                MIA|               0020|          0015|             -5|      15|      0030|           285|         281|     258|    2342|     0748|      8|             0805|        0756|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          135|     N527AS|           SEA|                ANC|               0025|          0024|             -1|      11|      0035|           235|         215|     199|    1448|     0254|      5|             0320|        0259|          -21|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|          806|     N3730B|           SFO|                MSP|               0025|          0020|             -5|      18|      0038|           217|         230|     206|    1589|     0604|      6|             0602|        0610|            8|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     NK|          612|     N635NK|           LAS|                MSP|               0025|          0019|             -6|      11|      0030|           181|         170|     154|    1299|     0504|      5|             0526|        0509|          -17|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     US|         2013|     N584UW|           LAX|                CLT|               0030|          0044|             14|      13|      0057|           273|         249|     228|    2125|     0745|      8|             0803|        0753|          -10|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         1112|     N3LAAA|           SFO|                DFW|               0030|          0019|            -11|      17|      0036|           195|         193|     173|    1464|     0529|      3|             0545|        0532|          -13|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1173|     N826DN|           LAS|                ATL|               0030|          0033|              3|      12|      0045|           221|         203|     186|    1747|     0651|      5|             0711|        0656|          -15|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2336|     N958DN|           DEN|                ATL|               0030|          0024|             -6|      12|      0036|           173|         149|     133|    1199|     0449|      4|             0523|        0453|          -30|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         1674|     N853AA|           LAS|                MIA|               0035|          0027|             -8|      21|      0048|           268|         266|     238|    2174|     0746|      7|             0803|        0753|          -10|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1434|     N547US|           LAX|                MSP|               0035|          0035|              0|      18|      0053|           214|         210|     188|    1535|     0601|      4|             0609|        0605|           -4|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2324|     N3751B|           SLC|                ATL|               0040|          0034|             -6|      18|      0052|           215|         199|     176|    1590|     0548|      5|             0615|        0553|          -22|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2440|     N651DL|           SEA|                MSP|               0040|          0039|             -1|      28|      0107|           189|         198|     166|    1399|     0553|      4|             0549|        0557|            8|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          108|     N309AS|           ANC|                SEA|               0045|          0041|             -4|      17|      0058|           204|         194|     173|    1448|     0451|      4|             0509|        0455|          -14|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1560|     N3743H|           ANC|                SEA|               0045|          0031|            -14|      25|      0056|           210|         200|     171|    1448|     0447|      4|             0515|        0451|          -24|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     UA|         1197|     N78448|           SFO|                IAH|               0048|          0042|             -6|      11|      0053|           218|         217|     199|    1635|     0612|      7|             0626|        0619|           -7|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          122|     N413AS|           ANC|                PDX|               0050|          0046|             -4|      11|      0057|           215|         201|     187|    1542|     0504|      3|             0525|        0507|          -18|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1670|     N806DN|           PDX|                MSP|               0050|          0045|             -5|       9|      0054|           193|         186|     171|    1426|     0545|      6|             0603|        0551|          -12|       0|        0|               null|            null|          null|         null|               null|         null|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
only showing top 20 rows

In [26]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [6]:
flights = spark.read.format("csv").option("header", "true").load("flights.csv")

In [27]:
len(flights.columns), flights.columns

(31,
 ['YEAR',
  'MONTH',
  'DAY',
  'DAY_OF_WEEK',
  'AIRLINE',
  'FLIGHT_NUMBER',
  'TAIL_NUMBER',
  'ORIGIN_AIRPORT',
  'DESTINATION_AIRPORT',
  'SCHEDULED_DEPARTURE',
  'DEPARTURE_TIME',
  'DEPARTURE_DELAY',
  'TAXI_OUT',
  'WHEELS_OFF',
  'SCHEDULED_TIME',
  'ELAPSED_TIME',
  'AIR_TIME',
  'DISTANCE',
  'WHEELS_ON',
  'TAXI_IN',
  'SCHEDULED_ARRIVAL',
  'ARRIVAL_TIME',
  'ARRIVAL_DELAY',
  'DIVERTED',
  'CANCELLED',
  'CANCELLATION_REASON',
  'AIR_SYSTEM_DELAY',
  'SECURITY_DELAY',
  'AIRLINE_DELAY',
  'LATE_AIRCRAFT_DELAY',
  'WEATHER_DELAY'])

In [28]:

flights_df.printSchema()

root
 |-- YEAR: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: string (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: string (nullable = true)
 |-- DEPARTURE_TIME: string (nullable = true)
 |-- DEPARTURE_DELAY: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- SCHEDULED_TIME: string (nullable = true)
 |-- ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- SCHEDULED_ARRIVAL: string (nullable = true)
 |-- ARRIVAL_TIME: string (nullable = true)
 |-- ARRIVAL_DELAY: string (nullable = true)
 |-- DIVERTED: string (nullable = true)
 |-- CANCELLED: string (nullable = true)

In [29]:
flights_df.select("DEPARTURE_TIME","ARRIVAL_TIME","AIR_TIME").show(5)

+--------------+------------+--------+
|DEPARTURE_TIME|ARRIVAL_TIME|AIR_TIME|
+--------------+------------+--------+
|          2354|        0408|     169|
|          0002|        0741|     263|
|          0018|        0811|     266|
|          0015|        0756|     258|
|          0024|        0259|     199|
+--------------+------------+--------+
only showing top 5 rows

In [30]:
from pyspark.sql import functions as fn

In [7]:
flight_trial = flights_df

In [ ]:
from pyspark.sql import functions as fn
sumar = flight_trial.describe().filter(fn.col("summary") == "count")
plot_data = sumar.select(*((fn.lit(flight_trial.count())-fn.col(c)).alias(c) for c in flight_trial.columns)).toPandas()

In [9]:
flights_df.show(5)

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+
|2015|    1|  1|          4|     AS|           98|     N407AS|           ANC|                SEA|               0005|          2354|            -11|      21|      0015|           205|         194|     169|    1448|     0404|      4|             0430|        0408|          -22|       0|        0|
|2015|    1|  1|          4|     AA|         2336|     N3KUAA|           LAX|                PBI|               0010|          0002|             -8|      12|      0014|           280|         279|     263|    2330|     0737|      4|             0750|        0741|           -9|       0|        0|
|2015|    1|  1|          4|     US|          840|     N171US|           SFO|                CLT|               0020|          0018|             -2|      16|      0034|           286|         293|     266|    2296|     0800|     11|             0806|        0811|            5|       0|        0|
|2015|    1|  1|          4|     AA|          258|     N3HYAA|           LAX|                MIA|               0020|          0015|             -5|      15|      0030|           285|         281|     258|    2342|     0748|      8|             0805|        0756|           -9|       0|        0|
|2015|    1|  1|          4|     AS|          135|     N527AS|           SEA|                ANC|               0025|          0024|             -1|      11|      0035|           235|         215|     199|    1448|     0254|      5|             0320|        0259|          -21|       0|        0|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+
only showing top 5 rows

In [10]:
# import matplotlib.pylab as plt
# #plot_data.CANCELLED > 0 
# #love = plot_data.filter(lambda x: [plot_data[i]>0 for i in plot_data.columns ])
# import pandas as pd
# import numpy as np
# df = pd.DataFrame()
# newdf = pd.DataFrame([plot_data[c] > 0 for c in plot_data.columns])
# pl_dat = pd.DataFrame(np.transpose(plot_data))
# pl_dat['polarity'] = newdf[0]
# na_values = pl_dat.loc[pl_dat['polarity'] == True]
# na_values.plot.bar(legend = False, title = 'NA Values')
# #[plot_data[i]>0 for i in plot_data.columns]
# #large_values = pd.filter(lambda y: y > 10)

In [62]:
# print("Number of entries before removing NAs:",flights_df.count())
# print("NA Values:")
# print(na_values)
# print("Number of entries before removing NAs:",flights_df.dropna().count())
# Filtered_data = flights_df.dropna()
# Filtered_data.show(20)

Number of entries before removing NAs: 5819079
NA Values:
                        0  polarity
TAIL_NUMBER       14721.0      True
DEPARTURE_TIME    86153.0      True
DEPARTURE_DELAY   86153.0      True
TAXI_OUT          89047.0      True
WHEELS_OFF        89047.0      True
SCHEDULED_TIME        6.0      True
ELAPSED_TIME     105071.0      True
AIR_TIME         105071.0      True
WHEELS_ON         92513.0      True
TAXI_IN           92513.0      True
ARRIVAL_TIME      92513.0      True
ARRIVAL_DELAY    105071.0      True
Number of entries before removing NAs: 0
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-----------+------------+------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|Cal_Airtime|Cal_Airtime1|D_TIME|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-----------+------------+------+
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-----------+------------+------+

In [61]:
# Filtered_data.select('DEPARTURE_TIME').show(5)

+--------------+
|DEPARTURE_TIME|
+--------------+
+--------------+

In [67]:
flights_df=flights_df.withColumn('Difference',fn.col('ARRIVAL_TIME')-fn.col('DEPARTURE_TIME'))
flights_df.printSchema()

root
 |-- YEAR: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: string (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: string (nullable = true)
 |-- DEPARTURE_TIME: string (nullable = true)
 |-- DEPARTURE_DELAY: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- SCHEDULED_TIME: string (nullable = true)
 |-- ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- SCHEDULED_ARRIVAL: string (nullable = true)
 |-- ARRIVAL_TIME: string (nullable = true)
 |-- ARRIVAL_DELAY: string (nullable = true)
 |-- DIVERTED: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- Difference: double (nullable = true)

In [33]:
flights_df.columns

['YEAR',
 'MONTH',
 'DAY',
 'DAY_OF_WEEK',
 'AIRLINE',
 'FLIGHT_NUMBER',
 'TAIL_NUMBER',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'SCHEDULED_DEPARTURE',
 'DEPARTURE_TIME',
 'DEPARTURE_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'SCHEDULED_TIME',
 'ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'WHEELS_ON',
 'TAXI_IN',
 'SCHEDULED_ARRIVAL',
 'ARRIVAL_TIME',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'Difference']

In [68]:
#flights_df.select("Difference").show()

#Modified_diff=flights_df.select(fn.col("Difference")+fn.lit(2400).alias("Diff"))
#Modified_diff.show(5)
#flight_df=flights_df.select(fn.when(fn.col("Difference")<0,))
#DF.withColumn("Diff", when((fn.col("Difference")<0),lit()).otherwise(lit('T'))).show()
flights_df=flights_df.withColumn('new_dff_time',fn.when(fn.col("Difference")>0,fn.col("Difference")).otherwise(fn.col("Difference")+fn.lit(2400)))
flights_df.select('new_dff_time').show(10)
flights_df=flights_df.withColumn('Difference_Arrival',fn.col("SCHEDULED_ARRIVAL")-fn.col("ARRIVAL_TIME"))
flights_df.printSchema()

+------------+
|new_dff_time|
+------------+
|       454.0|
|       739.0|
|       793.0|
|       741.0|
|       235.0|
|       590.0|
|       490.0|
|       709.0|
|       513.0|
|       623.0|
+------------+
only showing top 10 rows

root
 |-- YEAR: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: string (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: string (nullable = true)
 |-- DEPARTURE_TIME: string (nullable = true)
 |-- DEPARTURE_DELAY: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- SCHEDULED_TIME: string (nullable = true)
 |-- ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- SCHEDULED_ARRIVAL: string (nullable = true)
 |-- ARRIVAL_TIME: string (nullable = true)
 |-- ARRIVAL_DELAY: string (nullable = true)
 |-- DIVERTED: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- Difference: double (nullable = true)
 |-- new_dff_time: double (nullable = true)
 |-- Difference_Arrival: double (nullable = true)

In [49]:
f

TypeError: 'list' object is not callable

In [57]:
flights_df.select('Difference_Arrival').show(100)

+------------------+
|Difference_Arrival|
+------------------+
|              22.0|
|               9.0|
|              -5.0|
|              49.0|
|              61.0|
|              -8.0|
|              17.0|
|              50.0|
|              13.0|
|              55.0|
|              70.0|
|              50.0|
|               4.0|
|              62.0|
|              -8.0|
|              54.0|
|              64.0|
|               7.0|
|              18.0|
|              52.0|
|              -6.0|
|              -1.0|
|               1.0|
|              12.0|
|              63.0|
|              11.0|
|               3.0|
|             -65.0|
|              71.0|
|              -2.0|
|             -83.0|
|              16.0|
|              null|
|             -10.0|
|               4.0|
|             -55.0|
|              10.0|
|              51.0|
|              75.0|
|             -51.0|
|              73.0|
|              -1.0|
|              null|
|              11.0|
|              51.0|
|              -4.0|
|              76.0|
|              12.0|
|              49.0|
|             -46.0|
|             -20.0|
|              16.0|
|            -125.0|
|               7.0|
|               1.0|
|            -169.0|
|              -3.0|
|               0.0|
|               6.0|
|              -9.0|
|              -5.0|
|              14.0|
|              11.0|
|             -11.0|
|              11.0|
|              10.0|
|               0.0|
|               4.0|
|              null|
|              42.0|
|            -182.0|
|              -2.0|
|             -13.0|
|            -100.0|
|             -94.0|
|              46.0|
|               5.0|
|              15.0|
|              -3.0|
|              -9.0|
|              52.0|
|              -5.0|
|              null|
|              -6.0|
|              -4.0|
|               1.0|
|            -106.0|
|              14.0|
|              58.0|
|              25.0|
|              null|
|             -13.0|
|             -66.0|
|              -3.0|
|             -14.0|
|              55.0|
|              65.0|
|             -19.0|
|              21.0|
|              58.0|
+------------------+
only showing top 100 rows

In [80]:

flights_df=flights_df.withColumn("Grouped", fn.when((fn.col('Difference_Arrival')<0)
                                                    & (fn.col('Difference_Arrival')>-10),fn.lit('Average'))
                                 .otherwise(fn.when(fn.col("Difference_Arrival")<-10,fn.lit('Bad'))
                                 .otherwise(fn.when((fn.col("Difference_Arrival")>0) 
                                                    & (fn.col("Difference_Arrival")<10),fn.lit('Good'))
                                 .otherwise(fn.lit('Best')))))
flights_df.select("Grouped").show(100)

+-------+
|Grouped|
+-------+
|   Best|
|   Good|
|Average|
|   Best|
|   Best|
|Average|
|   Best|
|   Best|
|   Best|
|   Best|
|   Best|
|   Best|
|   Good|
|   Best|
|Average|
|   Best|
|   Best|
|   Good|
|   Best|
|   Best|
|Average|
|Average|
|   Good|
|   Best|
|   Best|
|   Best|
|   Good|
|    Bad|
|   Best|
|Average|
|    Bad|
|   Best|
|   Best|
|   Best|
|   Good|
|    Bad|
|   Best|
|   Best|
|   Best|
|    Bad|
|   Best|
|Average|
|   Best|
|   Best|
|   Best|
|Average|
|   Best|
|   Best|
|   Best|
|    Bad|
|    Bad|
|   Best|
|    Bad|
|   Good|
|   Good|
|    Bad|
|Average|
|   Best|
|   Good|
|Average|
|Average|
|   Best|
|   Best|
|    Bad|
|   Best|
|   Best|
|   Best|
|   Good|
|   Best|
|   Best|
|    Bad|
|Average|
|    Bad|
|    Bad|
|    Bad|
|   Best|
|   Good|
|   Best|
|Average|
|Average|
|   Best|
|Average|
|   Best|
|Average|
|Average|
|   Good|
|    Bad|
|   Best|
|   Best|
|   Best|
|   Best|
|    Bad|
|    Bad|
|Average|
|    Bad|
|   Best|
|   Best|
|    Bad|
|   Best|
|   Best|
+-------+
only showing top 100 rows

In [42]:
from pyspark.sql.functions import col, regexp_replace

flights_df=flights_df.withColumn("DEPARTURE_TIME", regexp_replace(col("DEPARTURE_TIME") ,  "(\\d{2})(\\d{2})" , "$1:$2" ) )
flights_df=flights_df.withColumn("ARRIVAL_TIME", regexp_replace(col("ARRIVAL_TIME") ,  "(\\d{2})(\\d{2})" , "$1:$2" ) )
flights_df=flights_df.withColumn("WHEELS_OFF", regexp_replace(col("WHEELS_OFF") ,  "(\\d{2})(\\d{2})" , "$1:$2" ) )
flights_df=flights_df.withColumn("WHEELS_ON", regexp_replace(col("WHEELS_ON") ,  "(\\d{2})(\\d{2})" , "$1:$2" ) )
flights_df=flights_df.withColumn("SCHEDULED_DEPARTURE", regexp_replace(col("SCHEDULED_DEPARTURE") ,  "(\\d{2})(\\d{2})" , "$1:$2" ) )
flights_df=flights_df.withColumn("SCHEDULED_ARRIVAL", regexp_replace(col("SCHEDULED_ARRIVAL") ,  "(\\d{2})(\\d{2})" , "$1:$2" ) )
flights_df=flights_df.withColumn("new_df_time", regexp_replace(col("new_dff_time") ,  "(\\d{1})(\\d{2})" , "$1:$2" ) )

In [41]:
flights_df.select('DEPARTURE_TIME').show(30)

+--------------+
|DEPARTURE_TIME|
+--------------+
|         23:54|
|         00:02|
|         00:18|
|         00:15|
|         00:24|
|         00:20|
|         00:19|
|         00:44|
|         00:19|
|         00:33|
|         00:24|
|         00:27|
|         00:35|
|         00:34|
|         00:39|
|         00:41|
|         00:31|
|         00:42|
|         00:46|
|         00:45|
|         01:20|
|         00:52|
|         01:02|
|         01:03|
|         01:02|
|         01:12|
|         01:07|
|         01:27|
|         01:10|
|         01:41|
+--------------+
only showing top 30 rows

In [42]:
flights_df=flights_df.withColumn("Cal_Airtime",fn.col("DEPARTURE_TIME")-fn.col("ARRIVAL_TIME"))
flights_df=flights_df.withColumn("Cal_Airtime1",fn.col("WHEELS_OFF")-fn.col("WHEELS_ON"))

In [17]:
from pyspark.sql.functions import unix_timestamp

#from pyspark.sql import functions as F
#time = F.unix_timestamp(fn.col('DEPARTURE_TIME'), format="HH:MM")
flights_df = flights_df.withColumn("CAL_TIME",fn.unix_timestamp('DEPARTURE_TIME',format='HH:mm.SSS'))
#flights_df.select(datetime.datetime.strptime('DEPARTURE_TIME', '%H%H:%M%M').time())
#datetime.time(3, 55)
flights_df.select("CAL_TIME").show(5)

#flights_df1 = flights_df.select('DEPARTURE_TIME', unix_timestamp('DEPARTURE_TIME', 'HH:MM'))

+--------+
|CAL_TIME|
+--------+
|    null|
|    null|
|    null|
|    null|
|    null|
+--------+
only showing top 5 rows

In [13]:
#flights_df1.show(10)

+--------------+-------------------------------------+
|DEPARTURE_TIME|unix_timestamp(DEPARTURE_TIME, HH:MM)|
+--------------+-------------------------------------+
|         23:54|                                 null|
|         00:02|                              2678400|
|         00:18|                                 null|
|         00:15|                                 null|
|         00:24|                                 null|
|         00:20|                                 null|
|         00:19|                                 null|
|         00:44|                                 null|
|         00:19|                                 null|
|         00:33|                                 null|
+--------------+-------------------------------------+
only showing top 10 rows

In [49]:
from pyspark.sql.functions import unix_timestamp

In [20]:
from pyspark.sql.functions import to_timestamp

In [47]:
Filtered_data=Filtered_data.withColumn("D_TIME", to_timestamp(flights_df.DEPARTURE_TIME,"hh:mm:ss"))

In [48]:
Filtered_data.select("D_TIME").show(5)

+------+
|D_TIME|
+------+
|  null|
|  null|
|  null|
|  null|
|  null|
+------+
only showing top 5 rows

In [61]:
def time_delta(y,x): 
    from datetime import datetime
    end = datetime.strptime(y, '%Y-%m-%d %H:%M:%S')
    start = datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
    delta = (end-start).total_seconds()
    return delta

In [62]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType, IntegerType, StructType, StructField
f = udf(time_delta, IntegerType())

In [63]:
flights_df.withColumn('diff', f(flights_df.calculated_time, flights_df.calculated_time_arr)).show(2)

Py4JJavaError: An error occurred while calling o734.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 98.0 failed 1 times, most recent failure: Lost task 0.0 in stage 98.0 (TID 298, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/worker.py", line 230, in main
    process()
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/worker.py", line 225, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 324, in dump_stream
    self.serializer.dump_stream(self._batched(iterator), stream)
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 139, in dump_stream
    for obj in iterator:
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 313, in _batched
    for item in iterator:
  File "<string>", line 1, in <lambda>
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/worker.py", line 75, in <lambda>
    return lambda *a: f(*a)
  File "/usr/local/spark/python/pyspark/util.py", line 55, in wrapper
    return f(*args, **kwargs)
  File "<ipython-input-61-53ea946be9bc>", line 3, in time_delta
TypeError: strptime() argument 1 must be str, not datetime.datetime

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:298)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:83)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:66)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:252)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:439)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$10$$anon$1.hasNext(WholeStageCodegenExec.scala:614)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:253)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:830)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:830)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1602)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1590)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1589)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1589)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1823)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1772)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1761)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:642)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2034)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2055)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2074)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:363)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3273)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2484)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2484)
	at org.apache.spark.sql.Dataset$$anonfun$52.apply(Dataset.scala:3254)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:77)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3253)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2484)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2698)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:254)
	at sun.reflect.GeneratedMethodAccessor122.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/worker.py", line 230, in main
    process()
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/worker.py", line 225, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 324, in dump_stream
    self.serializer.dump_stream(self._batched(iterator), stream)
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 139, in dump_stream
    for obj in iterator:
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 313, in _batched
    for item in iterator:
  File "<string>", line 1, in <lambda>
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/worker.py", line 75, in <lambda>
    return lambda *a: f(*a)
  File "/usr/local/spark/python/pyspark/util.py", line 55, in wrapper
    return f(*args, **kwargs)
  File "<ipython-input-61-53ea946be9bc>", line 3, in time_delta
TypeError: strptime() argument 1 must be str, not datetime.datetime

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:298)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:83)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:66)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:252)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:439)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$10$$anon$1.hasNext(WholeStageCodegenExec.scala:614)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:253)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:830)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:830)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [50]:
flights_df.select('calculated_time','calculated_time_arr').show(2)

+-------------------+-------------------+
|    calculated_time|calculated_time_arr|
+-------------------+-------------------+
|1970-01-01 23:54:00|1970-01-01 04:08:00|
|1970-01-01 00:02:00|1970-01-01 07:41:00|
+-------------------+-------------------+
only showing top 2 rows

In [51]:
from datetime import datetime
flights_df['calculated_time'] = datetime.strptime(flights_df['calculated_time'], '%Y-%m-%dT%H:%M:%S')
flights_df['calculated_time_arr'] = datetime.strptime(flights_df['calculated_time_arr'], '%Y-%m-%dT%H:%M:%S')
flights_df = flights_df.withColumn('diff',fn.col('calculated_time')-fn.col('calculated_time_arr')).show(2)

TypeError: strptime() argument 1 must be str, not Column

In [43]:
flights_df = flights_df.withColumn('calculated_time',to_timestamp(flights_df.DEPARTURE_TIME, 'HH:mm'))
flights_df = flights_df.withColumn('calculated_time_arr',to_timestamp(flights_df.ARRIVAL_TIME, 'HH:mm'))
#flights_df = flights_df.withColumn('new_calculated_time',flights_df['calculated_time'].split()[1])
flights_df=flights_df.withColumn('Sub_col',fn.col('calculated_time')-fn.col('calculated_time_arr'))

AnalysisException: "cannot resolve '(`calculated_time` - `calculated_time_arr`)' due to data type mismatch: '(`calculated_time` - `calculated_time_arr`)' requires (numeric or calendarinterval) type, not timestamp;;\n'Project [YEAR#3843, MONTH#3844, DAY#3845, DAY_OF_WEEK#3846, AIRLINE#3847, FLIGHT_NUMBER#3848, TAIL_NUMBER#3849, ORIGIN_AIRPORT#3850, DESTINATION_AIRPORT#3851, SCHEDULED_DEPARTURE#4446, DEPARTURE_TIME#4342, DEPARTURE_DELAY#3854, TAXI_OUT#3855, WHEELS_OFF#4394, SCHEDULED_TIME#3857, ELAPSED_TIME#3858, AIR_TIME#3859, DISTANCE#3860, WHEELS_ON#4420, TAXI_IN#3862, SCHEDULED_ARRIVAL#4472, ARRIVAL_TIME#4368, ARRIVAL_DELAY#3865, DIVERTED#3866, ... 6 more fields]\n+- AnalysisBarrier\n      +- Project [YEAR#3843, MONTH#3844, DAY#3845, DAY_OF_WEEK#3846, AIRLINE#3847, FLIGHT_NUMBER#3848, TAIL_NUMBER#3849, ORIGIN_AIRPORT#3850, DESTINATION_AIRPORT#3851, SCHEDULED_DEPARTURE#4446, DEPARTURE_TIME#4342, DEPARTURE_DELAY#3854, TAXI_OUT#3855, WHEELS_OFF#4394, SCHEDULED_TIME#3857, ELAPSED_TIME#3858, AIR_TIME#3859, DISTANCE#3860, WHEELS_ON#4420, TAXI_IN#3862, SCHEDULED_ARRIVAL#4472, ARRIVAL_TIME#4368, ARRIVAL_DELAY#3865, DIVERTED#3866, ... 5 more fields]\n         +- Project [YEAR#3843, MONTH#3844, DAY#3845, DAY_OF_WEEK#3846, AIRLINE#3847, FLIGHT_NUMBER#3848, TAIL_NUMBER#3849, ORIGIN_AIRPORT#3850, DESTINATION_AIRPORT#3851, SCHEDULED_DEPARTURE#4446, DEPARTURE_TIME#4342, DEPARTURE_DELAY#3854, TAXI_OUT#3855, WHEELS_OFF#4394, SCHEDULED_TIME#3857, ELAPSED_TIME#3858, AIR_TIME#3859, DISTANCE#3860, WHEELS_ON#4420, TAXI_IN#3862, SCHEDULED_ARRIVAL#4472, ARRIVAL_TIME#4368, ARRIVAL_DELAY#3865, DIVERTED#3866, ... 4 more fields]\n            +- Project [YEAR#3843, MONTH#3844, DAY#3845, DAY_OF_WEEK#3846, AIRLINE#3847, FLIGHT_NUMBER#3848, TAIL_NUMBER#3849, ORIGIN_AIRPORT#3850, DESTINATION_AIRPORT#3851, SCHEDULED_DEPARTURE#4446, DEPARTURE_TIME#4342, DEPARTURE_DELAY#3854, TAXI_OUT#3855, WHEELS_OFF#4394, SCHEDULED_TIME#3857, ELAPSED_TIME#3858, AIR_TIME#3859, DISTANCE#3860, WHEELS_ON#4420, TAXI_IN#3862, SCHEDULED_ARRIVAL#4472, ARRIVAL_TIME#4368, ARRIVAL_DELAY#3865, DIVERTED#3866, ... 3 more fields]\n               +- Project [YEAR#3843, MONTH#3844, DAY#3845, DAY_OF_WEEK#3846, AIRLINE#3847, FLIGHT_NUMBER#3848, TAIL_NUMBER#3849, ORIGIN_AIRPORT#3850, DESTINATION_AIRPORT#3851, SCHEDULED_DEPARTURE#4446, DEPARTURE_TIME#4342, DEPARTURE_DELAY#3854, TAXI_OUT#3855, WHEELS_OFF#4394, SCHEDULED_TIME#3857, ELAPSED_TIME#3858, AIR_TIME#3859, DISTANCE#3860, WHEELS_ON#4420, TAXI_IN#3862, SCHEDULED_ARRIVAL#4472, ARRIVAL_TIME#4368, ARRIVAL_DELAY#3865, DIVERTED#3866, ... 2 more fields]\n                  +- Project [YEAR#3843, MONTH#3844, DAY#3845, DAY_OF_WEEK#3846, AIRLINE#3847, FLIGHT_NUMBER#3848, TAIL_NUMBER#3849, ORIGIN_AIRPORT#3850, DESTINATION_AIRPORT#3851, SCHEDULED_DEPARTURE#4446, DEPARTURE_TIME#4342, DEPARTURE_DELAY#3854, TAXI_OUT#3855, WHEELS_OFF#4394, SCHEDULED_TIME#3857, ELAPSED_TIME#3858, AIR_TIME#3859, DISTANCE#3860, WHEELS_ON#4420, TAXI_IN#3862, regexp_replace(SCHEDULED_ARRIVAL#3863, (\\d{2})(\\d{2}), $1:$2) AS SCHEDULED_ARRIVAL#4472, ARRIVAL_TIME#4368, ARRIVAL_DELAY#3865, DIVERTED#3866, CANCELLED#3867]\n                     +- Project [YEAR#3843, MONTH#3844, DAY#3845, DAY_OF_WEEK#3846, AIRLINE#3847, FLIGHT_NUMBER#3848, TAIL_NUMBER#3849, ORIGIN_AIRPORT#3850, DESTINATION_AIRPORT#3851, regexp_replace(SCHEDULED_DEPARTURE#3852, (\\d{2})(\\d{2}), $1:$2) AS SCHEDULED_DEPARTURE#4446, DEPARTURE_TIME#4342, DEPARTURE_DELAY#3854, TAXI_OUT#3855, WHEELS_OFF#4394, SCHEDULED_TIME#3857, ELAPSED_TIME#3858, AIR_TIME#3859, DISTANCE#3860, WHEELS_ON#4420, TAXI_IN#3862, SCHEDULED_ARRIVAL#3863, ARRIVAL_TIME#4368, ARRIVAL_DELAY#3865, DIVERTED#3866, CANCELLED#3867]\n                        +- Project [YEAR#3843, MONTH#3844, DAY#3845, DAY_OF_WEEK#3846, AIRLINE#3847, FLIGHT_NUMBER#3848, TAIL_NUMBER#3849, ORIGIN_AIRPORT#3850, DESTINATION_AIRPORT#3851, SCHEDULED_DEPARTURE#3852, DEPARTURE_TIME#4342, DEPARTURE_DELAY#3854, TAXI_OUT#3855, WHEELS_OFF#4394, SCHEDULED_TIME#3857, ELAPSED_TIME#3858, AIR_TIME#3859, DISTANCE#3860, regexp_replace(WHEELS_ON#3861, (\\d{2})(\\d{2}), $1:$2) AS WHEELS_ON#4420, TAXI_IN#3862, SCHEDULED_ARRIVAL#3863, ARRIVAL_TIME#4368, ARRIVAL_DELAY#3865, DIVERTED#3866, CANCELLED#3867]\n                           +- Project [YEAR#3843, MONTH#3844, DAY#3845, DAY_OF_WEEK#3846, AIRLINE#3847, FLIGHT_NUMBER#3848, TAIL_NUMBER#3849, ORIGIN_AIRPORT#3850, DESTINATION_AIRPORT#3851, SCHEDULED_DEPARTURE#3852, DEPARTURE_TIME#4342, DEPARTURE_DELAY#3854, TAXI_OUT#3855, regexp_replace(WHEELS_OFF#3856, (\\d{2})(\\d{2}), $1:$2) AS WHEELS_OFF#4394, SCHEDULED_TIME#3857, ELAPSED_TIME#3858, AIR_TIME#3859, DISTANCE#3860, WHEELS_ON#3861, TAXI_IN#3862, SCHEDULED_ARRIVAL#3863, ARRIVAL_TIME#4368, ARRIVAL_DELAY#3865, DIVERTED#3866, CANCELLED#3867]\n                              +- Project [YEAR#3843, MONTH#3844, DAY#3845, DAY_OF_WEEK#3846, AIRLINE#3847, FLIGHT_NUMBER#3848, TAIL_NUMBER#3849, ORIGIN_AIRPORT#3850, DESTINATION_AIRPORT#3851, SCHEDULED_DEPARTURE#3852, DEPARTURE_TIME#4342, DEPARTURE_DELAY#3854, TAXI_OUT#3855, WHEELS_OFF#3856, SCHEDULED_TIME#3857, ELAPSED_TIME#3858, AIR_TIME#3859, DISTANCE#3860, WHEELS_ON#3861, TAXI_IN#3862, SCHEDULED_ARRIVAL#3863, regexp_replace(ARRIVAL_TIME#3864, (\\d{2})(\\d{2}), $1:$2) AS ARRIVAL_TIME#4368, ARRIVAL_DELAY#3865, DIVERTED#3866, CANCELLED#3867]\n                                 +- Project [YEAR#3843, MONTH#3844, DAY#3845, DAY_OF_WEEK#3846, AIRLINE#3847, FLIGHT_NUMBER#3848, TAIL_NUMBER#3849, ORIGIN_AIRPORT#3850, DESTINATION_AIRPORT#3851, SCHEDULED_DEPARTURE#3852, regexp_replace(DEPARTURE_TIME#3853, (\\d{2})(\\d{2}), $1:$2) AS DEPARTURE_TIME#4342, DEPARTURE_DELAY#3854, TAXI_OUT#3855, WHEELS_OFF#3856, SCHEDULED_TIME#3857, ELAPSED_TIME#3858, AIR_TIME#3859, DISTANCE#3860, WHEELS_ON#3861, TAXI_IN#3862, SCHEDULED_ARRIVAL#3863, ARRIVAL_TIME#3864, ARRIVAL_DELAY#3865, DIVERTED#3866, CANCELLED#3867]\n                                    +- Project [YEAR#3843, MONTH#3844, DAY#3845, DAY_OF_WEEK#3846, AIRLINE#3847, FLIGHT_NUMBER#3848, TAIL_NUMBER#3849, ORIGIN_AIRPORT#3850, DESTINATION_AIRPORT#3851, SCHEDULED_DEPARTURE#3852, DEPARTURE_TIME#3853, DEPARTURE_DELAY#3854, TAXI_OUT#3855, WHEELS_OFF#3856, SCHEDULED_TIME#3857, ELAPSED_TIME#3858, AIR_TIME#3859, DISTANCE#3860, WHEELS_ON#3861, TAXI_IN#3862, SCHEDULED_ARRIVAL#3863, ARRIVAL_TIME#3864, ARRIVAL_DELAY#3865, DIVERTED#3866, CANCELLED#3867]\n                                       +- Relation[YEAR#3843,MONTH#3844,DAY#3845,DAY_OF_WEEK#3846,AIRLINE#3847,FLIGHT_NUMBER#3848,TAIL_NUMBER#3849,ORIGIN_AIRPORT#3850,DESTINATION_AIRPORT#3851,SCHEDULED_DEPARTURE#3852,DEPARTURE_TIME#3853,DEPARTURE_DELAY#3854,TAXI_OUT#3855,WHEELS_OFF#3856,SCHEDULED_TIME#3857,ELAPSED_TIME#3858,AIR_TIME#3859,DISTANCE#3860,WHEELS_ON#3861,TAXI_IN#3862,SCHEDULED_ARRIVAL#3863,ARRIVAL_TIME#3864,ARRIVAL_DELAY#3865,DIVERTED#3866,... 7 more fields] csv\n"

In [21]:

flights_df.select(to_timestamp(flights_df.DEPARTURE_TIME, 'HHmm').alias('D_TIME')).show(5)

+------+
|D_TIME|
+------+
|  null|
|  null|
|  null|
|  null|
|  null|
+------+
only showing top 5 rows

In [17]:
flights_df.select("D_TIME").show(5)

+------+
|D_TIME|
+------+
|  null|
|  null|
|  null|
|  null|
|  null|
+------+
only showing top 5 rows

In [43]:
flights_df.select('SCHEDULED_DEPARTURE','DEPARTURE_DELAY','DEPARTURE_TIME','SCHEDULED_ARRIVAL','ARRIVAL_TIME','AIR_TIME','WHEELS_ON','WHEELS_OFF',"new_dff_time").show(100)

+-------------------+---------------+--------------+-----------------+------------+--------+---------+----------+------------+
|SCHEDULED_DEPARTURE|DEPARTURE_DELAY|DEPARTURE_TIME|SCHEDULED_ARRIVAL|ARRIVAL_TIME|AIR_TIME|WHEELS_ON|WHEELS_OFF|new_dff_time|
+-------------------+---------------+--------------+-----------------+------------+--------+---------+----------+------------+
|              00:05|            -11|         23:54|            04:30|       04:08|     169|    04:04|     00:15|       454.0|
|              00:10|             -8|         00:02|            07:50|       07:41|     263|    07:37|     00:14|       739.0|
|              00:20|             -2|         00:18|            08:06|       08:11|     266|    08:00|     00:34|       793.0|
|              00:20|             -5|         00:15|            08:05|       07:56|     258|    07:48|     00:30|       741.0|
|              00:25|             -1|         00:24|            03:20|       02:59|     199|    02:54|     00:35|       235.0|
|              00:25|             -5|         00:20|            06:02|       06:10|     206|    06:04|     00:38|       590.0|
|              00:25|             -6|         00:19|            05:26|       05:09|     154|    05:04|     00:30|       490.0|
|              00:30|             14|         00:44|            08:03|       07:53|     228|    07:45|     00:57|       709.0|
|              00:30|            -11|         00:19|            05:45|       05:32|     173|    05:29|     00:36|       513.0|
|              00:30|              3|         00:33|            07:11|       06:56|     186|    06:51|     00:45|       623.0|
|              00:30|             -6|         00:24|            05:23|       04:53|     133|    04:49|     00:36|       429.0|
|              00:35|             -8|         00:27|            08:03|       07:53|     238|    07:46|     00:48|       726.0|
|              00:35|              0|         00:35|            06:09|       06:05|     188|    06:01|     00:53|       570.0|
|              00:40|             -6|         00:34|            06:15|       05:53|     176|    05:48|     00:52|       519.0|
|              00:40|             -1|         00:39|            05:49|       05:57|     166|    05:53|     01:07|       518.0|
|              00:45|             -4|         00:41|            05:09|       04:55|     173|    04:51|     00:58|       414.0|
|              00:45|            -14|         00:31|            05:15|       04:51|     171|    04:47|     00:56|       420.0|
|              00:48|             -6|         00:42|            06:26|       06:19|     199|    06:12|     00:53|       577.0|
|              00:50|             -4|         00:46|            05:25|       05:07|     187|    05:04|     00:57|       461.0|
|              00:50|             -5|         00:45|            06:03|       05:51|     171|    05:45|     00:54|       506.0|
|              00:55|             25|         01:20|            05:37|       05:43|     128|    05:39|     01:31|       423.0|
|              01:00|             -8|         00:52|            09:38|       09:39|     311|    09:33|     01:22|       887.0|
|              01:03|             -1|         01:02|            05:30|       05:29|     128|    05:23|     01:15|       427.0|
|              01:05|             -2|         01:03|            08:51|       08:39|     255|    08:32|     01:17|       736.0|
|              01:05|             -3|         01:02|            06:08|       05:45|     150|    05:43|     01:13|       443.0|
|              01:15|             -3|         01:12|            06:18|       06:07|     156|    05:59|     01:23|       495.0|
|              01:15|             -8|         01:07|            05:48|       05:45|     186|    05:38|     01:32|       438.0|
|              01:15|             12|         01:27|            05:42|       06:07|     166|    05:27|     01:41|       480.0|
|              01:20|            -10|         01:10|            08:25|       07:54|     205|    07:47|     01:22|       644.0|
|              01:20|             21|         01:41|            07:07|       07:09|     188|    07:01|     01:53|       568.0|
|              01:25|             72|         02:37|            05:49|       06:32|     156|    06:22|     02:46|       395.0|
|              01:27|            -11|         01:16|            07:26|       07:10|     217|    07:03|     01:26|       594.0|
|              01:35|           null|          null|            06:00|        null|    null|     null|      null|        null|
|              01:40|             -6|         01:34|            07:15|       07:25|     182|    07:19|     02:17|       591.0|
|              01:44|             -4|         01:40|            06:34|       06:30|     148|    06:18|     01:50|       490.0|
|              01:45|              0|         01:45|            05:55|       06:10|     361|    06:02|     02:01|       465.0|
|              01:52|             -9|         01:43|            09:15|       09:05|     298|    09:02|     02:04|       762.0|
|              01:54|              3|         01:57|            05:09|       04:58|     220|    04:49|     02:09|       301.0|
|              01:55|            -15|         01:40|            06:33|       05:58|     170|    05:47|     01:57|       418.0|
|              01:55|             -2|         01:53|            04:50|       05:01|     231|    04:56|     02:05|       348.0|
|              01:55|            -16|         01:39|            05:23|       04:50|     174|    04:43|     01:49|       311.0|
|              01:59|             -1|         01:58|            05:02|       05:03|     103|    04:52|     02:09|       345.0|
|              02:00|           null|          null|            05:00|        null|    null|     null|      null|        null|
|              02:00|            -10|         01:50|            06:30|       06:19|     182|    06:16|     02:14|       469.0|
|              02:00|             -5|         01:55|            05:04|       04:53|     149|    04:45|     02:16|       298.0|
|              02:06|            -14|         01:52|            05:12|       05:16|     239|    05:10|     02:11|       364.0|
|              02:20|            -11|         02:09|            08:04|       07:28|     183|    07:22|     02:19|       519.0|
|              02:20|            -11|         02:09|            06:40|       06:28|     176|    06:20|     02:24|       419.0|
|              02:55|             -7|         02:48|            05:00|       04:51|     169|    04:47|     02:58|       203.0|
|              02:59|             -1|         02:58|            05:59|       06:05|     225|    05:57|     03:12|       347.0|
|              03:07|             -3|         03:04|            05:00|       05:20|     160|    05:09|     03:29|       216.0|
|              03:30|            -14|         03:16|            06:35|       06:19|     224|    06:14|     03:30|       303.0|
|              04:00|             95|         05:35|            06:05|       07:30|     163|    07:27|     05:44|       195.0|
|              04:19|              4|         04:23|            06:13|       06:06|     148|    06:02|     04:34|       183.0|
|              04:24|            -11|         04:13|            06:30|       06:29|     166|    06:23|     04:37|       216.0|
|              04:38|             72|         05:50|            07:39|       09:08|     237|    09:02|     06:05|       358.0|
|              05:00|             -1|         04:59|            07:48|       07:51|     214|    07:45|     05:11|       292.0|
|              05:00|             -4|         04:56|            06:10|       06:10|      39|    05:57|     05:18|       154.0|
|              05:00|             -8|         04:52|            05:49|       05:43|      35|    05:37|     05:02|        91.0|
|              05:00|             13|         05:13|            06:29|       06:38|      61|    06:33|     05:32|       125.0|
|              05:02|             -1|         05:01|            05:44|       05:49|      30|    05:43|     05:13|        48.0|
|              05:05|             -8|         04:57|            09:30|       09:16|     179|    09:12|     05:13|       459.0|
|              05:05|            -11|         04:54|            05:41|       05:30|      20|    05:24|     05:04|        76.0|
|              05:10|              4|         05:14|            08:05|       08:16|     147|    08:04|     05:37|       302.0|
|              05:10|             -3|         05:07|            06:13|       06:02|      38|    05:59|     05:21|        95.0|
|              05:10|             -4|         05:06|            07:30|       07:20|     112|    07:14|     05:22|       214.0|
|              05:10|            -10|         05:00|            06:18|       06:18|      35|    06:12|     05:37|       118.0|
|              05:10|             -2|         05:08|            06:19|       06:15|      41|    06:10|     05:29|       107.0|
|              05:10|           null|          null|            06:37|        null|    null|     null|      null|        null|
|              05:15|             -5|         05:10|            09:00|       08:58|     146|    08:51|     05:25|       348.0|
|              05:15|            108|         07:03|            08:56|       10:38|     133|    10:31|     07:18|       335.0|
|              05:15|             -5|         05:10|            08:43|       08:45|     182|    08:26|     05:24|       335.0|
|              05:15|              2|         05:17|            08:13|       08:26|     163|    08:12|     05:29|       309.0|
|              05:20|             60|         06:20|            08:50|       09:50|     132|    09:45|     06:33|       330.0|
|              05:20|             58|         06:18|            08:41|       09:35|     111|    09:28|     06:37|       317.0|
|              05:20|             -9|         05:11|            08:03|       07:57|      66|    07:47|     05:41|       246.0|
|              05:20|             -3|         05:17|            06:34|       06:29|      49|    06:21|     05:32|       112.0|
|              05:20|             -6|         05:14|            07:26|       07:11|      42|    07:05|     05:23|       197.0|
|              05:20|              5|         05:25|            06:12|       06:15|      79|    06:08|     05:49|        90.0|
|              05:20|             -3|         05:17|            06:20|       06:29|      34|    06:22|     05:48|       112.0|
|              05:23|            -10|         05:13|            06:00|       05:48|      21|    05:41|     05:20|        35.0|
|              05:25|              0|         05:25|            07:30|       07:35|      35|    07:32|     05:57|       210.0|
|              05:25|           null|          null|            07:00|        null|    null|     null|      null|        null|
|              05:30|              2|         05:32|            08:20|       08:26|     210|    08:14|     05:44|       294.0|
|              05:30|              4|         05:34|            08:52|       08:56|     125|    08:48|     05:43|       322.0|
|              05:30|             -1|         05:29|            09:07|       09:06|     138|    08:57|     05:39|       377.0|
|              05:30|             53|         06:23|            08:35|       09:41|      96|    09:31|     06:55|       318.0|
|              05:30|             -3|         05:27|            05:25|       05:11|      22|    05:01|     05:39|      2384.0|
|              05:30|             -4|         05:26|            08:10|       07:52|     128|    07:46|     05:38|       226.0|
|              05:30|             -4|         05:26|            09:38|       09:13|     149|    09:07|     05:38|       387.0|
|              05:30|           null|          null|            07:00|        null|    null|     null|      null|        null|
|              05:30|             -4|         05:26|            09:13|       09:26|     143|    09:15|     05:52|       400.0|
|              05:31|             19|         05:50|            08:57|       09:23|     127|    09:12|     06:05|       373.0|
|              05:33|              7|         05:40|            07:20|       07:23|     142|    07:12|     05:50|       183.0|
|              05:35|              6|         05:41|            08:02|       08:16|     194|    08:07|     05:53|       275.0|
|              05:35|             -5|         05:30|            07:03|       06:48|      56|    06:43|     05:47|       118.0|
|              05:35|             -7|         05:28|            07:00|       06:35|      50|    06:31|     05:41|       107.0|
|              05:35|             43|         06:18|            10:20|       10:39|     184|    10:35|     06:31|       421.0|
|              05:35|            -12|         05:23|            06:36|       06:15|      33|    06:08|     05:35|        92.0|
|              05:35|             -5|         05:30|            08:03|       07:45|      54|    07:42|     05:48|       215.0|
+-------------------+---------------+--------------+-----------------+------------+--------+---------+----------+------------+
only showing top 100 rows